.formControl {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.formControl label {
    margin-bottom: .6rem;
    font-weight: bold;
}

.formControl input {
    padding: .7rem;
    border: none;
    border-radius: 10px;
}

.formControl input::placeholder {
    color: #7b7b7b;
}