.footer {
    text-align: center;
    background-color: #222;
    color: #fff;
    padding: 3rem;
}

.socialList {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.socialList li {
    margin: 0 1rem;
}

.socialList li:hover {
    color: #ffbb33;
}

.socialList svg {
    font-size: 1.5rem;
    cursor: pointer;
}

.copyRight {
    margin-top: 2rem;
}

.copyRight span {
    font-weight: bold;
    color: #ffbb33;
}